<% content_for :field, flush: true do %>
    <br>
    <br>
    <%= form_for @comment, method: :put do |form| %>
    <%= form.label :comment %>
    <p> <%= form.text_area :message %> </p>

    <%= form.submit("Submit") %>
    <% end %>
<% end %>